In [97]:
import numpy as np
import pandas as pd
from skbio.stats import subsample_counts
from tqdm import tqdm

import math
from statistics import mean 
from scipy import stats
from glob import glob

import seaborn as sns
import matplotlib.pyplot as plt

# GOAL: make rarefaction curves for finer taxonomic resolution
### I previously did this for phylum in the folder "s7_diverity/Nycodenz_vs_Oil"

## Method: Split the OTU tab up by taxa groups and then add a "dummy" otu to to represent the rest of the community

In [7]:
wrk="/workdir/users/pd378/oilPCR/all_16s_for_paper/s7_diversity/"
otu_tab=pd.read_csv(wrk+"Nycodenz_vs_Oil/otu_tabs/combined_reps_with_metadata.txt",sep='\t')

grouping_list=[]
for index, row in otu_tab.iterrows():
    if row['treatment']=="nLY":
        grouping_list.append("Lysozyme -")
    elif row['treatment']=="yLY":
        grouping_list.append("Lysozyme +")
    elif row['group']=="Nycodenz":
        grouping_list.append("Nycodenz")
otu_tab["group"]=grouping_list
otu_tab=otu_tab[otu_tab["Donor"]!="UH02"]

otu_tab.head(2)

,Unnamed: 0,Donor,exp,group,sub_group,treatment,sequence_group,otu1,otu10,otu100,...,otu988,otu99,otu990,otu991,otu993,otu995,otu996,otu997,otu998,otu999
0,0,UC02,HtDnLy,Lysozyme -,nDN,nLY,3,0.0,0.0,530.0,...,0.0,428.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,UC02,HtDnLy,Lysozyme +,nDN,yLY,3,5.0,1.0,489.0,...,5.0,445.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

### Split the tabl up by donor and filter empty otus

In [8]:
def filter_zero_otus(filter_df, min_detect, threshold):
    detect_list_out=[]

    this_df=filter_df.copy()
    this_df=this_df[[col for col in this_df.columns if col.startswith('otu')]].T
    #    min_detect=1*len(this_df.columns)
    detect_list=[]
    for row in this_df.iterrows():
        total=0
        for x in row[1].to_list():
            if x >= threshold:
                total=total+1
        detect_list.append(total)


    this_df['detect']=detect_list
    this_df=this_df[this_df['detect']>=min_detect]
    this_df=this_df.drop(['detect'], axis=1)
    return this_df.T


#Split by donor and remove zeros
payload=[]
for donor, group in otu_tab.groupby("Donor"):
    meta_cols=[col for col in group.columns if not col.startswith('otu')]
    df_filtered=filter_zero_otus(group,1,1)
    print(df_filtered.shape)
    df_filtered = pd.concat([group[meta_cols],df_filtered], axis=1)   
    payload.append(df_filtered.drop(["Unnamed: 0"],axis=1))
    print(df_filtered.drop(["Unnamed: 0"],axis=1).shape)

#shuffle
x=payload[1]
payload[1]=payload[0]
payload[0]=x

(12, 951)
(12, 957)
(14, 337)
(14, 343)

### Group the tabs by taxa before adding a new otu to represent the rest of the community
### then prepare for generating the rarefaction curves

In [189]:
taxa_df=pd.read_csv(wrk+"Nycodenz_vs_Oil/all_taxonomy_split.txt",sep='\t').drop(["Unnamed: 0"], axis=1).set_index("featureid")
taxa_df.head(100)
taxa_df=taxa_df.replace("_","-",regex=True)
taxa_df

,taxonomy,kingdom,phylum,class,order,family,genus,species
featureid,,,,,,,,
otu1,Bacteria(100);Bacteroidetes(100);Bacteroidia(1...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,NaN
otu2,Bacteria(100);Bacteroidetes(100);Bacteroidia(1...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Prevotellaceae,Prevotella-9,NaN
otu3,Bacteria(100);Firmicutes(100);Negativicutes(10...,Bacteria,Firmicutes,Negativicutes,Selenomonadales,Veillonellaceae,Dialister,NaN
otu4,Bacteria(100);Bacteroidetes(100);Bacteroidia(1...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,NaN
otu5,Bacteria(99);Bacteroidetes(99);Bacteroidia(99)...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Rikenellaceae,Rikenellaceae-RC9-gut-group,NaN
...,...,...,...,...,...,...,...,...
otu1841,Bacteria(100);Bacteroidetes(100);Bacteroidia(1...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Tannerellaceae,Parabacteroides,NaN
otu1842,Bacteria(100);Firmicutes(82);Clostridia(75);Cl...,Bacteria,Firmicutes,Clostridia,Clostridiales,Lachnospiraceae,Lactonifactor,NaN
otu1843,Bacteria(100);Bacteroidetes(100);Bacteroidia(1...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Barnesiellaceae,Barnesiella,NaN
otu1844,Bacteria(100);Bacteroidetes(89);Bacteroidia(89...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Muribaculaceae,CAG-873,NaN
otu1845,Bacteria(100);Firmicutes(97);Clostridia(96);Cl...,Bacteria,Firmicutes,Clostridia,Clostridiales,Lachnospiraceae,Syntrophococcus,NaN

In [180]:
taxa_df.columns[2:]

Index(['phylum', 'class', 'order', 'family', 'genus', 'species'], dtype='object')

In [220]:
donor_names=["human","chicken"]
summary_data=[]

otu_threshold=20
for i in range(2):
    df=payload[i].copy()
    o_cols=df[[col for col in df.columns if col.startswith('otu')]].T

    col_names=o_cols.columns
    o_cols=pd.merge(taxa_df[["phylum","class","order","family","genus"]], o_cols, left_index=True, right_index=True, how="right")
    o_cols.head(2)
    
    sample_totals=o_cols[col_names].sum(axis=0)
    
    #make the phylum_tabs
    for taxa, group in o_cols.groupby("phylum"):
        group2=group.drop(["phylum","class","order","family","genus"],axis=1)
        group2=group2.T
        phy_sum=group2.sum(axis=1)
        group2["others"]=sample_totals-phy_sum
        group2=group2.T
        group2.index.name="OTU ID#"
        summary_data.append([donor_names[i],"phylum",taxa,len(group2.index)])
        #only bother with taxa that have enough OTUs
        if len(group2.index) > otu_threshold:
            group2.to_csv(wrk+"taxa_specific_rarefaction/all_split_tabs/"+donor_names[i]+"_phylum_"+taxa+"_na_na_na_na_tab.txt",sep='\t')
            
    #class tabs
    for taxa, group in o_cols.groupby(["phylum","class"]):
        group2=group.drop(["phylum","class","order","family","genus"],axis=1)
        group2=group2.T
        phy_sum=group2.sum(axis=1)
        group2["others"]=sample_totals-phy_sum
        group2=group2.T
        group2.index.name="OTU ID#"
        summary_data.append([donor_names[i],"class",taxa,len(group2.index)])
        taxb=[]
        if len(group2.index) > otu_threshold:
            group2.to_csv(wrk+"taxa_specific_rarefaction/all_split_tabs/"+donor_names[i]+"_class_"+taxa[0]+"_"+taxa[1]+"_na_na_na_tab.txt",sep='\t')
            
       
    #order tabs
    for taxa, group in o_cols.groupby(["phylum","class","order"]):
        group2=group.drop(["phylum","class","order","family","genus"],axis=1)
        group2=group2.T
        phy_sum=group2.sum(axis=1)
        group2["others"]=sample_totals-phy_sum
        group2=group2.T
        group2.index.name="OTU ID#"
        summary_data.append([donor_names[i],"order",taxa,len(group2.index)])
        if len(group2.index) > otu_threshold:
            group2.to_csv(wrk+"taxa_specific_rarefaction/all_split_tabs/"+donor_names[i]+"_order_"+taxa[0]+"_"+taxa[1]+"_"+taxa[2]+"_na_na_tab.txt",sep='\t')
            
    #family tabs        
    for taxa, group in o_cols.groupby(["phylum","class","order","family"]):
        group2=group.drop(["phylum","class","order","family","genus"],axis=1)
        group2=group2.T
        phy_sum=group2.sum(axis=1)
        group2["others"]=sample_totals-phy_sum
        group2=group2.T
        group2.index.name="OTU ID#"
        summary_data.append([donor_names[i],"family",taxa,len(group2.index)])
        if len(group2.index) > otu_threshold:
            group2.to_csv(wrk+"taxa_specific_rarefaction/all_split_tabs/"+donor_names[i]+"_family_"+taxa[0]+"_"+taxa[1]+"_"+taxa[2]+"_"+taxa[3]+"_na_tab.txt",sep='\t')
            
    #genus tabs        
    for taxa, group in o_cols.groupby(["phylum","class","order","family","genus"]):
        group2=group.drop(["phylum","class","order","family","genus"],axis=1)
        group2=group2.T
        phy_sum=group2.sum(axis=1)
        group2["others"]=sample_totals-phy_sum
        group2=group2.T
        group2.index.name="OTU ID#"
        summary_data.append([donor_names[i],"genus",taxa,len(group2.index)])
        if len(group2.index) > otu_threshold:
            group2.to_csv(wrk+"taxa_specific_rarefaction/all_split_tabs/"+donor_names[i]+"_genus_"+taxa[0]+"_"+taxa[1]+"_"+taxa[2]+"_"+taxa[3]+"_"+taxa[4]+"_tab.txt",sep='\t')
            
summm=pd.DataFrame(summary_data, columns=["donor","taxa","full_taxa","otu_count"])
summm.to_csv("summary_of_split_tabs.txt",sep='\t')

#  Generate the rarefaction using "skbio.stats.subsample_counts"
### first reload the files that werre exported

In [221]:
human_files=glob("/workdir/users/pd378/oilPCR/all_16s_for_paper/s7_diversity/taxa_specific_rarefaction/all_split_tabs/human*split_tab.txt")
chicken_files=glob(wrk+"taxa_specific_rarefaction/all_split_tabs/chicken*split_tab.txt")
all_files=glob(wrk+"taxa_specific_rarefaction/all_split_tabs/*tab.txt")

In [222]:
all_files[0].split('/')[9].rsplit("_",2)[0]
in_load={}
for file in all_files:
    in_df=pd.read_csv(file, sep='\t')
    the_key=file.split('/')[9].rsplit("_",2)[0]
    in_load[the_key]=in_df

### Next run the random sampling on all files and store in new dictionary

In [223]:
# a funcion to perform farefaction on a single sample vector within an otu table
# returns a single vector as the average of all replicates
# loop this across all samples for full table

#vector: the list of input counts
#start: the minimum value to use 
#step: how many steps between sampling
#replicates: number of replicates to average
def rare_sample(vector, start, step, replicates):
    count_vector=[]
    for i in range(start,sum(vector),step):
        replicate_tests=[]
        for j in range(replicates):    
            sub = subsample_counts(vector, i)
            replicate_tests.append(np.count_nonzero(sub))
        count_vector.append([i, np.mean(replicate_tests)])
    return count_vector

In [225]:
sample_ref_dict={"12":"n_lyse","13":"y_lyse","14":"n_lyse","15":"y_lyse","16":"n_lyse","17":"y_lyse","18":"n_lyse","19":"y_lyse","20":"nyco","21":"nyco","22":"nyco","23":"nyco","24":"nyco","25":"nyco",
            "0":"n_lyse","1":"y_lyse","2":"n_lyse","3":"y_lyse","4":"n_lyse","5":"y_lyse","6":"n_lyse","7":"y_lyse","8":"nyco","9":"nyco","10":"nyco","11":"nyco"}


rare_dict={}
for key, test_tab in tqdm(in_load.items()):
    rare_full=[]
    for i in range(1,len(test_tab.columns)):
        sample_name=test_tab.columns[i]
        test_col=test_tab[sample_name].astype(int)
        #run the rarefaction
        rare_holder=rare_sample(test_col,10,100,5)
        #go through the output, add the sample name to it, and then add to the master list of results
        for item in rare_holder:
            rare_full.append([sample_name,sample_ref_dict[sample_name]]+item)   
        #turn the output into a dataframe and pivot it
        rare_df=pd.DataFrame(rare_full, columns=["sample","treatment","count","OTUs"])
        rare_df=rare_df.pivot(index="count",columns="sample")["OTUs"]
        #store the dataframe and also export to save progress
        rare_dict[key]=rare_df
        rare_df.to_csv("all_rarefaction/"+key+"_rare.txt",sep='\t')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 38/38 [1:34:48<00:00, 149.69s/it]

In [217]:
key

'chicken_order_Proteobacteria_Gammaproteobacteria_Betaproteobacteriales_na'

In [216]:
rare_df=pd.DataFrame(rare_full, columns=["sample","treatment","count","OTUs"])
rare_df=rare_df.pivot(index="count",columns="sample")["OTUs"]
rare_df.head()

sample    0    1    2    3    4    5    6    7    8    9
count
10      1.2  1.4  1.2  1.4  1.4  1.0  1.2  1.8  1.2  1.6
110     3.0  3.0  4.4  3.0  3.2  2.8  2.8  2.8  2.4  2.8
210     3.8  3.4  3.8  3.4  4.6  3.2  4.0  3.6  4.0  3.4
310     4.0  4.6  4.6  4.4  5.0  4.6  4.4  4.8  5.0  4.6
410     5.0  5.0  4.8  4.8  5.2  4.4  4.4  4.0  4.6  4.8

In [79]:

test_tab=pd.read_csv("phylum_split_tabs/chicken_Firmicutes_split_tab.txt",sep='\t')

#reference for column names and experimental condition
sample_ref_dict={"12":"n_lyse","13":"y_lyse","14":"n_lyse","15":"y_lyse","16":"n_lyse","17":"y_lyse","18":"n_lyse","19":"y_lyse","20":"nyco","21":"nyco","22":"nyco","23":"nyco","24":"nyco","25":"nyco",
            "0":"n_lyse","1":"y_lyse","2":"n_lyse","3":"y_lyse","4":"n_lyse","5":"y_lyse","6":"n_lyse","7":"y_lyse","8":"nyco","9":"nyco","10":"nyco","11":"nyco"}
human_cols=["OTU ID#","n_lyse","y_lyse","n_lyse","y_lyse","n_lyse","y_lyse","n_lyse","y_lyse","nyco","nyco","nyco","nyco","nyco","nyco"]
chicken_cols=["OTU ID#","n_lyse","y_lyse","n_lyse","y_lyse","n_lyse","y_lyse","n_lyse","y_lyse","nyco","nyco","nyco","nyco"]
ch_yes=["1","3","5","7"]
ch_no=["0","2","4","6"]
hu_yes=["13","15","17","19"]
hu_no=["12","14","16","18"]

,OTU ID#,0,1,2,3,4,5,6,7,8,9,10,11
0,otu1000,0.0,4.0,0.0,5.0,0.0,15.0,0.0,15.0,13.0,16.0,9.0,14.0
1,otu1001,72.0,62.0,74.0,59.0,30.0,95.0,36.0,54.0,63.0,42.0,32.0,21.0

### Reload exported tabled to make reusing code easier

In [139]:

rare_full=[]
for i in tqdm(range(1,len(test_tab.columns))):
    sample_name=test_tab.columns[i]
    test_col=test_tab[sample_name].astype(int)
    #run the rarefaction
    rare_holder=rare_sample(test_col,10,100,2)
    #go through the output, add the sample name to it, and then add to the master list of results
    for item in rare_holder:
     #   item.append(sample_name)
    #    item.append(chicken_dict[sample_name])
        rare_full.append([sample_name,chicken_dict[sample_name]]+item)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 12/12 [00:53<00:00,  4.49s/it]

In [147]:
rare_df=pd.DataFrame(rare_full, columns=["sample","treatment","count","OTUs"])
rare_df=rare_df.pivot(index="count",columns="sample")["OTUs"]
rare_df.head()

sample     0     1    10    11     2     3     4     5     6     7     8     9
count
10       3.5   5.5   6.0   4.0   3.0   3.5   4.5   3.0   2.5   4.0   4.5   4.0
110     26.0  31.0  30.5  32.5  27.0  26.5  25.0  24.5  23.5  28.5  31.5  33.0
210     40.5  58.5  64.0  47.5  40.5  43.5  36.0  45.0  39.5  44.5  64.0  54.5
310     53.0  61.5  70.5  67.5  49.0  55.0  42.5  63.5  57.0  67.0  70.0  68.0
410     60.0  67.0  90.0  79.0  68.0  79.0  58.5  73.5  60.5  78.5  82.5  73.5

In [148]:
ch_yes=["1","3","5","7"]
ch_no=["0","2","4","6"]
rare_df[ch_yes]

sample     1     3     5     7
count
10       5.5   3.5   3.0   4.0
110     31.0  26.5  24.5  28.5
210     58.5  43.5  45.0  44.5
310     61.5  55.0  63.5  67.0
410     67.0  79.0  73.5  78.5
...      ...   ...   ...   ...
120510   NaN   NaN   NaN   NaN
120610   NaN   NaN   NaN   NaN
120710   NaN   NaN   NaN   NaN
120810   NaN   NaN   NaN   NaN
120910   NaN   NaN   NaN   NaN

[1210 rows x 4 columns]

In [149]:
#I need to trim all the replicates to the same depth 
ch_yes=["1","3","5","7"]
ch_no=["0","2","4","6"]
y_half=rare_df[ch_yes].dropna()
n_half=rare_df[ch_no].dropna()
combine=pd.concat([y_half,n_half], axis=1)
#combine["sequences per sample"]=df["sequences per sample"][:len(combine.index)]
#truncate_load[key]=combine

In [150]:
combine

sample      1      3      5      7     0     2     4     6
count
10        5.5    3.5    3.0    4.0   3.5   3.0   4.5   2.5
110      31.0   26.5   24.5   28.5  26.0  27.0  25.0  23.5
210      58.5   43.5   45.0   44.5  40.5  40.5  36.0  39.5
310      61.5   55.0   63.5   67.0  53.0  49.0  42.5  57.0
410      67.0   79.0   73.5   78.5  60.0  68.0  58.5  60.5
...       ...    ...    ...    ...   ...   ...   ...   ...
103710  455.5  463.0  465.5  460.0   NaN   NaN   NaN   NaN
103810  456.0  466.5  466.0  459.5   NaN   NaN   NaN   NaN
103910  455.5  465.5  466.0  453.0   NaN   NaN   NaN   NaN
104010  457.0  464.0  466.0  459.0   NaN   NaN   NaN   NaN
104110  455.5  465.5  466.0  458.5   NaN   NaN   NaN   NaN

[1042 rows x 8 columns]

In [64]:
rare_sample(test_tab["0"].astype(int),100,1)

[[100, 22.0],
 [200, 44.0],
 [300, 51.0],
 [400, 54.0],
 [500, 80.0],
 [600, 69.0],
 [700, 93.0],
 [800, 92.0],
 [900, 101.0],
 [1000, 115.0],
 [1100, 114.0],
 [1200, 126.0],
 [1300, 119.0],
 [1400, 127.0],
 [1500, 139.0],
 [1600, 136.0],
 [1700, 133.0],
 [1800, 147.0],
 [1900, 151.0],
 [2000, 159.0],
 [2100, 152.0],
 [2200, 165.0],
 [2300, 173.0],
 [2400, 169.0],
 [2500, 178.0],
 [2600, 178.0],
 [2700, 183.0],
 [2800, 185.0],
 [2900, 182.0],
 [3000, 180.0],
 [3100, 169.0],
 [3200, 183.0],
 [3300, 196.0],
 [3400, 183.0],
 [3500, 201.0],
 [3600, 206.0],
 [3700, 205.0],
 [3800, 204.0],
 [3900, 214.0],
 [4000, 218.0],
 [4100, 207.0],
 [4200, 209.0],
 [4300, 210.0],
 [4400, 215.0],
 [4500, 207.0],
 [4600, 219.0],
 [4700, 219.0],
 [4800, 212.0],
 [4900, 223.0],
 [5000, 230.0],
 [5100, 219.0],
 [5200, 228.0],
 [5300, 222.0],
 [5400, 223.0],
 [5500, 227.0],
 [5600, 233.0],
 [5700, 239.0],
 [5800, 245.0],
 [5900, 249.0],
 [6000, 242.0],
 [6100, 240.0],
 [6200, 239.0],
 [6300, 242.0],
 [6400, 251.0],
 [6500, 258.0],
 [6600, 254.0],
 [6700, 249.0],
 [6800, 242.0],
 [6900, 245.0],
 [7000, 243.0],
 [7100, 243.0],
 [7200, 255.0],
 [7300, 264.0],
 [7400, 227.0],
 [7500, 271.0],
 [7600, 257.0],
 [7700, 259.0],
 [7800, 267.0],
 [7900, 260.0],
 [8000, 251.0],
 [8100, 262.0],
 [8200, 261.0],
 [8300, 279.0],
 [8400, 279.0],
 [8500, 267.0],
 [8600, 255.0],
 [8700, 259.0],
 [8800, 274.0],
 [8900, 270.0],
 [9000, 273.0],
 [9100, 279.0],
 [9200, 272.0],
 [9300, 283.0],
 [9400, 278.0],
 [9500, 280.0],
 [9600, 281.0],
 [9700, 286.0],
 [9800, 276.0],
 [9900, 277.0],
 [10000, 269.0],
 [10100, 288.0],
 [10200, 297.0],
 [10300, 278.0],
 [10400, 288.0],
 [10500, 281.0],
 [10600, 275.0],
 [10700, 290.0],
 [10800, 280.0],
 [10900, 283.0],
 [11000, 282.0],
 [11100, 284.0],
 [11200, 282.0],
 [11300, 292.0],
 [11400, 282.0],
 [11500, 302.0],
 [11600, 292.0],
 [11700, 292.0],
 [11800, 292.0],
 [11900, 300.0],
 [12000, 291.0],
 [12100, 302.0],
 [12200, 295.0],
 [12300, 299.0],
 [12400, 299.0],
 [12500, 299.0],
 [12600, 289.0],
 [12700, 288.0],
 [12800, 305.0],
 [12900, 312.0],
 [13000, 296.0],
 [13100, 299.0],
 [13200, 305.0],
 [13300, 305.0],
 [13400, 302.0],
 [13500, 298.0],
 [13600, 303.0],
 [13700, 296.0],
 [13800, 306.0],
 [13900, 295.0],
 [14000, 305.0],
 [14100, 302.0],
 [14200, 308.0],
 [14300, 301.0],
 [14400, 301.0],
 [14500, 318.0],
 [14600, 303.0],
 [14700, 303.0],
 [14800, 324.0],
 [14900, 302.0],
 [15000, 297.0],
 [15100, 301.0],
 [15200, 313.0],
 [15300, 313.0],
 [15400, 298.0],
 [15500, 323.0],
 [15600, 299.0],
 [15700, 319.0],
 [15800, 321.0],
 [15900, 309.0],
 [16000, 315.0],
 [16100, 313.0],
 [16200, 318.0],
 [16300, 319.0],
 [16400, 311.0],
 [16500, 321.0],
 [16600, 317.0],
 [16700, 311.0],
 [16800, 308.0],
 [16900, 306.0],
 [17000, 323.0],
 [17100, 324.0],
 [17200, 322.0],
 [17300, 320.0],
 [17400, 318.0],
 [17500, 329.0],
 [17600, 317.0],
 [17700, 326.0],
 [17800, 327.0],
 [17900, 328.0],
 [18000, 316.0],
 [18100, 326.0],
 [18200, 337.0],
 [18300, 337.0],
 [18400, 321.0],
 [18500, 325.0],
 [18600, 325.0],
 [18700, 329.0],
 [18800, 322.0],
 [18900, 331.0],
 [19000, 327.0],
 [19100, 330.0],
 [19200, 325.0],
 [19300, 324.0],
 [19400, 325.0],
 [19500, 321.0],
 [19600, 338.0],
 [19700, 338.0],
 [19800, 331.0],
 [19900, 321.0],
 [20000, 331.0],
 [20100, 325.0],
 [20200, 327.0],
 [20300, 343.0],
 [20400, 337.0],
 [20500, 338.0],
 [20600, 334.0],
 [20700, 335.0],
 [20800, 332.0],
 [20900, 327.0],
 [21000, 330.0],
 [21100, 337.0],
 [21200, 338.0],
 [21300, 334.0],
 [21400, 330.0],
 [21500, 336.0],
 [21600, 334.0],
 [21700, 344.0],
 [21800, 335.0],
 [21900, 337.0],
 [22000, 347.0],
 [22100, 337.0],
 [22200, 339.0],
 [22300, 337.0],
 [22400, 345.0],
 [22500, 337.0],
 [22600, 345.0],
 [22700, 340.0],
 [22800, 342.0],
 [22900, 339.0],
 [23000, 333.0],
 [23100, 341.0],
 [23200, 334.0],
 [23300, 338.0],
 [23400, 339.0],
 [23500, 348.0],
 [23600, 338.0],
 [23700, 342.0],
 [23800, 342.0],
 [23900, 342.0],
 [24000, 340.0],
 [24100, 340.0],
 [24200, 338.0],
 [24300, 338.0],
 [24400, 342.0],
 [24500, 346.0],
 [24600, 340.0],
 [24700, 339.0],
 [24800, 347.0],
 [24900, 350.0],
 [25000, 349.0],
 [25100, 348.0],
 [25200, 352.0],
 [25300, 349.0],
 [25400, 347.0],
 [25500, 348.0],
 [25600, 350.0],
 [25700, 343.0],
 [25800, 348.0],
 [25900, 351.0],
 [26000, 340.0],
 [26100, 350.0],
 [26200, 345.0],
 [26300, 349.0],
 [26400, 356.0],
 [26500, 352.0],
 [26600, 349.0],
 [26700, 345.0],
 [26800, 351.0],
 [26900, 352.0],
 [27000, 344.0],
 [27100, 341.0],
 [27200, 342.0],
 [27300, 344.0],
 [27400, 358.0],
 [27500, 340.0],
 [27600, 351.0],
 [27700, 358.0],
 [27800, 346.0],
 [27900, 350.0],
 [28000, 352.0],
 [28100, 352.0],
 [28200, 352.0],
 [28300, 354.0],
 [28400, 355.0],
 [28500, 349.0],
 [28600, 355.0],
 [28700, 341.0],
 [28800, 352.0],
 [28900, 357.0],
 [29000, 362.0],
 [29100, 350.0],
 [29200, 352.0],
 [29300, 351.0],
 [29400, 351.0],
 [29500, 358.0],
 [29600, 352.0],
 [29700, 365.0],
 [29800, 358.0],
 [29900, 356.0],
 [30000, 360.0],
 [30100, 354.0],
 [30200, 363.0],
 [30300, 363.0],
 [30400, 355.0],
 [30500, 364.0],
 [30600, 357.0],
 [30700, 363.0],
 [30800, 353.0],
 [30900, 353.0],
 [31000, 366.0],
 [31100, 358.0],
 [31200, 354.0],
 [31300, 363.0],
 [31400, 358.0],
 [31500, 355.0],
 [31600, 363.0],
 [31700, 359.0],
 [31800, 355.0],
 [31900, 366.0],
 [32000, 360.0],
 [32100, 366.0],
 [32200, 361.0],
 [32300, 359.0],
 [32400, 364.0],
 [32500, 359.0],
 [32600, 356.0],
 [32700, 359.0],
 [32800, 356.0],
 [32900, 361.0],
 [33000, 363.0],
 [33100, 361.0],
 [33200, 370.0],
 [33300, 358.0],
 [33400, 365.0],
 [33500, 363.0],
 [33600, 358.0],
 [33700, 361.0],
 [33800, 359.0],
 [33900, 359.0],
 [34000, 367.0],
 [34100, 358.0],
 [34200, 356.0],
 [34300, 367.0],
 [34400, 367.0],
 [34500, 371.0],
 [34600, 361.0],
 [34700, 373.0],
 [34800, 362.0],
 [34900, 362.0],
 [35000, 366.0],
 [35100, 365.0],
 [35200, 368.0],
 [35300, 365.0],
 [35400, 362.0],
 [35500, 365.0],
 [35600, 369.0],
 [35700, 368.0],
 [35800, 360.0],
 [35900, 361.0],
 [36000, 365.0],
 [36100, 367.0],
 [36200, 362.0],
 [36300, 366.0],
 [36400, 367.0],
 [36500, 365.0],
 [36600, 357.0],
 [36700, 365.0],
 [36800, 365.0],
 [36900, 365.0],
 [37000, 365.0],
 [37100, 367.0],
 [37200, 356.0],
 [37300, 367.0],
 [37400, 367.0],
 [37500, 366.0],
 [37600, 370.0],
 [37700, 360.0],
 [37800, 372.0],
 [37900, 369.0],
 [38000, 368.0],
 [38100, 367.0],
 [38200, 366.0],
 [38300, 371.0],
 [38400, 358.0],
 [38500, 379.0],
 [38600, 363.0],
 [38700, 370.0],
 [38800, 362.0],
 [38900, 375.0],
 [39000, 365.0],
 [39100, 367.0],
 [39200, 364.0],
 [39300, 370.0],
 [39400, 367.0],
 [39500, 375.0],
 [39600, 372.0],
 [39700, 372.0],
 [39800, 371.0],
 [39900, 368.0],
 [40000, 376.0],
 [40100, 364.0],
 [40200, 370.0],
 [40300, 376.0],
 [40400, 375.0],
 [40500, 371.0],
 [40600, 370.0],
 [40700, 371.0],
 [40800, 373.0],
 [40900, 370.0],
 [41000, 368.0],
 [41100, 378.0],
 [41200, 369.0],
 [41300, 375.0],
 [41400, 360.0],
 [41500, 376.0],
 [41600, 380.0],
 [41700, 374.0],
 [41800, 372.0],
 [41900, 370.0],
 [42000, 367.0],
 [42100, 377.0],
 [42200, 374.0],
 [42300, 371.0],
 [42400, 375.0],
 [42500, 376.0],
 [42600, 367.0],
 [42700, 378.0],
 [42800, 368.0],
 [42900, 379.0],
 [43000, 376.0],
 [43100, 375.0],
 [43200, 370.0],
 [43300, 375.0],
 [43400, 375.0],
 [43500, 370.0],
 [43600, 372.0],
 [43700, 367.0],
 [43800, 373.0],
 [43900, 374.0],
 [44000, 374.0],
 [44100, 377.0],
 [44200, 375.0],
 [44300, 374.0],
 [44400, 371.0],
 [44500, 369.0],
 [44600, 378.0],
 [44700, 376.0],
 [44800, 374.0],
 [44900, 378.0],
 [45000, 381.0],
 [45100, 368.0],
 [45200, 371.0],
 [45300, 373.0],
 [45400, 374.0],
 [45500, 380.0],
 [45600, 385.0],
 [45700, 378.0],
 [45800, 375.0],
 [45900, 379.0],
 [46000, 374.0],
 [46100, 380.0],
 [46200, 376.0],
 [46300, 371.0],
 [46400, 375.0],
 [46500, 371.0],
 [46600, 380.0],
 [46700, 376.0],
 [46800, 378.0],
 [46900, 380.0],
 [47000, 380.0],
 [47100, 371.0],
 [47200, 379.0],
 [47300, 380.0],
 [47400, 373.0],
 [47500, 381.0],
 [47600, 381.0],
 [47700, 373.0],
 [47800, 373.0],
 [47900, 381.0],
 [48000, 373.0],
 [48100, 382.0],
 [48200, 383.0],
 [48300, 379.0],
 [48400, 372.0],
 [48500, 377.0],
 [48600, 383.0],
 [48700, 382.0],
 [48800, 383.0],
 [48900, 384.0],
 [49000, 386.0],
 [49100, 379.0],
 [49200, 380.0],
 [49300, 381.0],
 [49400, 381.0],
 [49500, 377.0],
 [49600, 378.0],
 [49700, 373.0],
 [49800, 381.0],
 [49900, 377.0],
 [50000, 381.0],
 [50100, 384.0],
 [50200, 378.0],
 [50300, 384.0],
 [50400, 380.0],
 [50500, 378.0],
 [50600, 380.0],
 [50700, 375.0],
 [50800, 384.0],
 [50900, 383.0],
 [51000, 385.0],
 [51100, 377.0],
 [51200, 386.0],
 [51300, 381.0],
 [51400, 380.0],
 [51500, 379.0],
 [51600, 380.0],
 [51700, 382.0],
 [51800, 382.0],
 [51900, 377.0],
 [52000, 387.0],
 [52100, 385.0],
 [52200, 385.0],
 [52300, 375.0],
 [52400, 378.0],
 [52500, 378.0],
 [52600, 385.0],
 [52700, 379.0],
 [52800, 380.0],
 [52900, 377.0],
 [53000, 385.0],
 [53100, 376.0],
 [53200, 377.0],
 [53300, 381.0],
 [53400, 385.0],
 [53500, 385.0],
 [53600, 380.0],
 [53700, 380.0],
 [53800, 379.0],
 [53900, 382.0],
 [54000, 384.0],
 [54100, 383.0],
 [54200, 380.0],
 [54300, 384.0],
 [54400, 385.0],
 [54500, 386.0],
 [54600, 384.0],
 [54700, 382.0],
 [54800, 380.0],
 [54900, 384.0],
 [55000, 385.0],
 [55100, 387.0],
 [55200, 386.0],
 [55300, 379.0],
 [55400, 384.0],
 [55500, 383.0],
 [55600, 383.0],
 [55700, 378.0],
 [55800, 386.0],
 [55900, 387.0],
 [56000, 382.0],
 [56100, 382.0],
 [56200, 382.0],
 [56300, 387.0],
 [56400, 386.0],
 [56500, 386.0],
 [56600, 382.0],
 [56700, 385.0],
 [56800, 385.0],
 [56900, 381.0],
 [57000, 384.0],
 [57100, 387.0],
 [57200, 383.0],
 [57300, 383.0],
 [57400, 388.0],
 [57500, 389.0],
 [57600, 386.0],
 [57700, 385.0],
 [57800, 384.0],
 [57900, 389.0],
 [58000, 387.0],
 [58100, 384.0],
 [58200, 387.0],
 [58300, 387.0],
 [58400, 386.0],
 [58500, 382.0],
 [58600, 383.0],
 [58700, 387.0],
 [58800, 390.0],
 [58900, 385.0],
 [59000, 387.0],
 [59100, 387.0],
 [59200, 383.0],
 [59300, 385.0],
 [59400, 383.0],
 [59500, 375.0],
 [59600, 381.0],
 [59700, 391.0],
 [59800, 382.0],
 [59900, 386.0],
 [60000, 383.0],
 [60100, 385.0],
 [60200, 380.0],
 [60300, 387.0],
 [60400, 386.0],
 [60500, 384.0],
 [60600, 387.0],
 [60700, 378.0],
 [60800, 390.0],
 [60900, 383.0],
 [61000, 390.0],
 [61100, 391.0],
 [61200, 389.0],
 [61300, 385.0],
 [61400, 388.0],
 [61500, 389.0],
 [61600, 385.0],
 [61700, 386.0],
 [61800, 385.0],
 [61900, 385.0],
 [62000, 388.0],
 [62100, 389.0],
 [62200, 386.0],
 [62300, 390.0],
 [62400, 384.0],
 [62500, 388.0],
 [62600, 388.0],
 [62700, 390.0],
 [62800, 391.0],
 [62900, 386.0],
 [63000, 391.0],
 [63100, 391.0],
 [63200, 389.0],
 [63300, 389.0],
 [63400, 391.0],
 [63500, 390.0],
 [63600, 394.0],
 [63700, 388.0],
 [63800, 382.0],
 [63900, 385.0],
 [64000, 390.0],
 [64100, 386.0],
 [64200, 383.0],
 [64300, 387.0],
 [64400, 388.0],
 [64500, 388.0],
 [64600, 394.0],
 [64700, 391.0],
 [64800, 391.0],
 [64900, 386.0],
 [65000, 390.0],
 [65100, 391.0],
 [65200, 390.0],
 [65300, 389.0],
 [65400, 393.0],
 [65500, 393.0],
 [65600, 393.0],
 [65700, 391.0],
 [65800, 388.0],
 [65900, 391.0],
 [66000, 394.0],
 [66100, 387.0],
 [66200, 390.0],
 [66300, 382.0],
 [66400, 390.0],
 [66500, 382.0],
 [66600, 390.0],
 [66700, 392.0],
 [66800, 391.0],
 [66900, 389.0],
 [67000, 385.0],
 [67100, 391.0],
 [67200, 392.0],
 [67300, 392.0],
 [67400, 388.0],
 [67500, 385.0],
 [67600, 390.0],
 [67700, 389.0],
 [67800, 394.0],
 [67900, 385.0],
 [68000, 386.0],
 [68100, 393.0],
 [68200, 392.0],
 [68300, 389.0],
 [68400, 392.0],
 [68500, 392.0],
 [68600, 390.0],
 [68700, 395.0],
 [68800, 389.0],
 [68900, 391.0],
 [69000, 391.0],
 [69100, 392.0],
 [69200, 393.0],
 [69300, 394.0],
 [69400, 390.0],
 [69500, 391.0],
 [69600, 391.0],
 [69700, 392.0],
 [69800, 393.0],
 [69900, 395.0],
 [70000, 394.0],
 [70100, 390.0],
 [70200, 389.0],
 [70300, 391.0],
 [70400, 392.0],
 [70500, 392.0],
 [70600, 389.0],
 [70700, 391.0],
 [70800, 393.0],
 [70900, 388.0],
 [71000, 388.0],
 [71100, 392.0],
 [71200, 395.0],
 [71300, 391.0],
 [71400, 389.0],
 [71500, 393.0],
 [71600, 388.0],
 [71700, 390.0],
 [71800, 395.0],
 [71900, 393.0],
 [72000, 391.0],
 [72100, 396.0],
 [72200, 391.0],
 [72300, 391.0],
 [72400, 389.0],
 [72500, 394.0],
 [72600, 388.0],
 [72700, 387.0],
 [72800, 391.0],
 [72900, 396.0],
 [73000, 394.0],
 [73100, 390.0],
 [73200, 387.0],
 [73300, 394.0],
 [73400, 397.0],
 [73500, 398.0],
 [73600, 395.0],
 [73700, 389.0],
 [73800, 397.0],
 [73900, 391.0],
 [74000, 392.0],
 [74100, 392.0],
 [74200, 392.0],
 [74300, 389.0],
 [74400, 396.0],
 [74500, 395.0],
 [74600, 391.0],
 [74700, 395.0],
 [74800, 391.0],
 [74900, 393.0],
 [75000, 393.0],
 [75100, 393.0],
 [75200, 394.0],
 [75300, 394.0],
 [75400, 392.0],
 [75500, 388.0],
 [75600, 398.0],
 [75700, 395.0],
 [75800, 395.0],
 [75900, 395.0],
 [76000, 395.0],
 [76100, 396.0],
 [76200, 395.0],
 [76300, 394.0],
 [76400, 393.0],
 [76500, 395.0],
 [76600, 396.0],
 [76700, 395.0],
 [76800, 391.0],
 [76900, 393.0],
 [77000, 393.0],
 [77100, 394.0],
 [77200, 395.0],
 [77300, 392.0],
 [77400, 393.0],
 [77500, 400.0],
 [77600, 394.0],
 [77700, 395.0],
 [77800, 395.0],
 [77900, 397.0],
 [78000, 397.0],
 [78100, 396.0],
 [78200, 399.0],
 [78300, 394.0],
 [78400, 397.0],
 [78500, 396.0],
 [78600, 393.0],
 [78700, 398.0],
 [78800, 395.0],
 [78900, 397.0],
 [79000, 396.0],
 [79100, 396.0],
 [79200, 395.0],
 [79300, 396.0],
 [79400, 397.0],
 [79500, 394.0],
 [79600, 397.0],
 [79700, 397.0],
 [79800, 395.0],
 [79900, 395.0],
 [80000, 395.0],
 [80100, 395.0],
 [80200, 391.0],
 [80300, 395.0],
 [80400, 398.0],
 [80500, 397.0],
 [80600, 399.0],
 [80700, 395.0],
 [80800, 393.0],
 [80900, 397.0],
 [81000, 393.0],
 [81100, 394.0],
 [81200, 396.0],
 [81300, 398.0],
 [81400, 396.0],
 [81500, 397.0],
 [81600, 395.0],
 [81700, 393.0],
 [81800, 399.0],
 [81900, 399.0],
 [82000, 398.0],
 [82100, 395.0],
 [82200, 398.0],
 [82300, 399.0],
 [82400, 395.0],
 [82500, 398.0],
 [82600, 397.0],
 [82700, 395.0],
 [82800, 397.0],
 [82900, 398.0],
 [83000, 396.0],
 [83100, 400.0],
 [83200, 396.0],
 [83300, 399.0],
 [83400, 398.0],
 [83500, 399.0],
 [83600, 399.0],
 [83700, 393.0],
 [83800, 395.0],
 [83900, 398.0],
 [84000, 399.0],
 [84100, 399.0],
 [84200, 399.0],
 [84300, 398.0],
 [84400, 397.0],
 [84500, 399.0],
 [84600, 392.0],
 [84700, 399.0],
 [84800, 398.0],
 [84900, 396.0],
 [85000, 398.0],
 [85100, 399.0],
 [85200, 398.0],
 [85300, 399.0],
 [85400, 398.0],
 [85500, 396.0],
 [85600, 399.0],
 [85700, 397.0],
 [85800, 398.0],
 [85900, 400.0],
 [86000, 399.0],
 [86100, 397.0],
 [86200, 396.0],
 [86300, 399.0],
 [86400, 398.0],
 [86500, 398.0],
 [86600, 400.0],
 [86700, 397.0],
 [86800, 399.0],
 [86900, 397.0],
 [87000, 398.0],
 [87100, 398.0],
 [87200, 399.0],
 [87300, 398.0],
 [87400, 397.0],
 [87500, 398.0],
 [87600, 398.0],
 [87700, 398.0],
 [87800, 398.0],
 [87900, 398.0],
 [88000, 396.0],
 [88100, 398.0],
 [88200, 399.0],
 [88300, 400.0],
 [88400, 399.0],
 [88500, 396.0],
 [88600, 400.0],
 [88700, 400.0],
 [88800, 400.0],
 [88900, 400.0],
 [89000, 400.0],
 [89100, 400.0],
 [89200, 399.0],
 [89300, 400.0],
 [89400, 398.0],
 [89500, 400.0],
 [89600, 400.0],
 [89700, 400.0],
 [89800, 399.0],
 [89900, 400.0],
 [90000, 400.0],
 [90100, 400.0],
 [90200, 400.0],
 [90300, 400.0],
 [90400, 400.0],
 [90500, 400.0],
 [90600, 400.0],
 [90700, 400.0],
 [90800, 400.0],
 [90900, 400.0],
 [91000, 400.0],
 [91100, 400.0],
 [91200, 400.0],
 [91300, 400.0],
 [91400, 400.0]]